DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432
CONDUIT_FE_PORT=4200
BE_PORT=8000
DJANGO_SUPERUSER_USERNAME=your-superuser-username
DJANGO_SUPERUSER_EMAIL=your-superuser-email
DJANGO_SUPERUSER_PASSWORD=your-superuser-password

POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password

DJANGO_DEBUG=True
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
CORS_ORIGIN_WHITELIST=0.0.0.0:4000,localhost:4000,localhost:4200
API_URL=http://127.0.0.1:8282/api
SECRET_KEY=your-secret-key
