DB_NAME=your-dbname
DB_USER=your-username
DB_PASSWORD=your-dbpassword
DB_HOST=db
DB_PORT=5432
FE_PORT=4200
BE_PORT=8000
DJANGO_SUPERUSER_USERNAME=your-superuser-username
DJANGO_SUPERUSER_EMAIL=your-superuser-email
DJANGO_SUPERUSER_PASSWORD=your-superuser-password
